<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
     <title>Status</title>

</head>
<body>
       
  <div class="bgimg">
     <div class="middle">
      <h1 style=" font-weight: 600;font-size: 5.6vw;">Halo, apa kabar?</h1>
      <form method="POST" action="." style="font-size: 3vh;border-radius: 22px;"  name="status">
           {% csrf_token %}
           {{form}}
           <div class="text-center marginbutton">
                <button class="btn btn-success" type="submit" style="background-color: #2A677C; border: #2A677C;" name="submit">Submit</button>
           </div>
      </form>
 </div>
</div>
 {% if data %}
<div class="text-center tengah">
     <h4 style=" font-weight: 600;font-size: 5vw;">STATUS</h4>
     {% for status in data %}
     <div class="text-left hasil ">
          <div class="col text-about" style="max-width: 100%;">
               <p class = "status">{{status.status}}</p>
          </div>
          <div class="text-right">
               <div style="font-size: 5vh">
                    {{status.waktu|time:" H:i "}}
               </div>
               <div>
                    {{status.waktu|date:"l, j F Y"}}
               </div>
          </div>
     </div>
     {% endfor %}
</div>
 {% endif %}
</body>
</html>